.slide-in {
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 1s ease-in-out 0.1s forwards;
}

@keyframes slide-in {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slide-in-from-right {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 0.5s forwards ease-in;
}

.slide-in-from-right{
    opacity: 0;
    transform: translateX(200%);
    animation: slide-in-from-right 1s ease-in-out 0.1s forwards;
}